@model IEnumerable<DWF.Models.Match.MatchListItem>

@{
    ViewBag.Title = "Index";
}

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="div-neon" style="width: 550px; height: 200px; z-index: 1; position: absolute;">
    <p class="p-neon">
        <span class="span-neon">-</span>
        <span class="span-neon">D</span>
        <span class="span-neon">A</span>
        <span class="span-neon">R</span>
        <span class="span-neon">T</span>
        <span class="span-neon">I</span>
        <span class="span-neon">N</span>
        <span class="span-neon">'</span>
        <span class="span-neon">-</span>
        <span class="with-friends">WITH FRIENDS</span>
    </p>
</div>

<div class="table-background" style="position: relative;">
    <table class="table match-label">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchSetupId)
            </th>
            <th>
                P1 Left To Score
            </th>
            <th>
                P2 Left To Score
            </th>
            <th>
                P1 Average Score
            </th>
            <th>
                P2 Average Score
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchSetupId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneNeededScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoNeededScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneAvgRoundScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoAvgRoundScore)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MatchId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MatchId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MatchId })
                </td>
            </tr>
        }

    </table>
</div>
