@model DWF.Models.Match.MatchDetail

@{
    ViewBag.Title = "MatchDetails";
}

<h2>MatchDetails</h2>

<div>
    <h4>MatchDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchSetupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchSetupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerOneNeededScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerOneNeededScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerTwoNeededScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerTwoNeededScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerOneAvgRoundScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerOneAvgRoundScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerTwoAvgRoundScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerTwoAvgRoundScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
